<!-- Ajouter condition avec dates -->
<div class="container">
  <% if !@events.empty? %>
    <% @events.each do |event| %>
      <div class="blog-card">
        <div class="meta">
          <div class="photo" >
          <%= cl_image_tag(event.photo, class: "img-fluid", alt: "Card image", style: "object-fit: contain; height: 100%;") %>
          </div>
          <ul class="details">
            <li class="author"><%= event.title %></li>
            <li class="date "><i class="far fa-calendar-alt ml-1"></i> <%= event.date %></li>
          </ul>
        </div>
        <div class="description">
          <h1><%= event.title %></h1>
          <h2>le <%= event.date %> <%= event.hour %></h2>
          <p class="text-dark"><%= event.content.first(100) %>...</p>
          <p class="read-more">
            <%= link_to 'Détails', event_path(event) %>
            <% if !current_user.nil? && !event.users.ids.include?(current_user.id) && !current_user.admin %>
              <%= link_to "S'inscrire",  event_registrations_path(event), method: :post %>
            <% else %>
              <i class="far fa-check-circle"> Inscris !</i>
            <% end %>
            <% if !current_user.nil? && current_user.admin %>
              <%= link_to 'Editer', edit_event_path(event) %>
              <%= link_to 'Supprimer', event_path(event), method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>
            <% end %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
