<div class="container">
  <% if !@events.empty? %>
    <% @events.each do |event| %>
        <h2><%= event.title %><h2>
        <p><%= event.date %><p>
        <p><%= event.hour %><p>
        <%= cl_image_tag(event.photo,
      width: 400, height: 300, crop: :fit) %>
        <p><%= event.content %><p>
    <% end %>
  <% end %>
</div>
