<div class="container">
  <div class="card mb-3">
    <%= cl_image_tag(@event.photo, class: "card-img-top", alt: "Card image") %>
    <div class="card-body" style="background-color: rgba(100, 100, 100, 1)">
      <h1 class="card-title"><%= @event.title %></h1>
        <p class="card-text">le <%= @event.date %> <%= @event.hour %></p>
        <p class="card-text"><%= @event.content %></p>
    </div>
  </div>
</div>
