  <div id="post-stream" class="mb-2">
    <div id="post">
      <div id="post-header">
        <%= image_tag("logotransparentgris.png", alt: "Card image", class: "thumbnail") %>
        <div id="author-time-info">
          <span class="author"><a href="#">Onyrik</a></span>
          <span class="time"><a href="#">le <%= @event.created_at.day %>-<%= @event.created_at.month %>-<%= @event.created_at.year %></a></span>
        </div>
      </div>
      <div id="post-content">
        <p class="text-dark">
          <%= @event.title %>
        </p>
        <p class="text-dark">
          <%= @event.content %>
        </p>
        <div id="img-container">
          <%= cl_image_tag(@event.photo, class: "img-fluid", style: "object-fit: contain;") %>
        </div>
        <div id="img-caption">
          <span class="img-title text-dark"><%= @event.title %></span>
          <span class="description text-dark"><%= @event.hour %></span>
        </div>
      </div>
      <div id="post-actions">
        <% if current_user.admin %>
          <%= link_to 'Editer', edit_event_path(@event) %>
          <span class="separator">路</span>
          <%= link_to 'Supprimer', event_path(@event), method: :delete, data: { confirm: 'Etes-vous s没r ?' } %>
          <span class="separator">路</span>
        <% end %>
        <%= link_to 'Accueil', root_path %>
        <span class="separator">路</span>
        <%= link_to 'Retour liste', events_path %>
      </div>
      <% if !@event.users.ids.include?(current_user.id) && !current_user.admin %>
        <%= link_to "S'inscrire",  event_registrations_path(@event), method: :post, class: "btn btn-danger btn-block rounded mt-1" %>
      <% end %>
    </div>
  </div>
