 <div class="container-fluid">
  <div id="post-stream" class="mb-2">
    <div id="post">
      <div id="post-header">
        <%= image_tag("logotransparentgris.png", alt: "Card image", class: "thumbnail") %>
        <div id="author-time-info">
          <span class="author"><a href="#">Onyrik</a></span>
          <span class="time"><a href="#">le <%= @event.created_at.day %>-<%= @event.created_at.month %>-<%= @event.created_at.year %></a></span>
        </div>
      </div>
      <div id="post-content">
        <p class="text-dark">
          <%= @event.title %>
        </p>
        <p class="text-dark">
          <%= @event.content %>
        </p>
        <div id="img-container">
          <%= cl_image_tag(@event.photo, class: "img-fluid", style: "object-fit: contain;") %>
        </div>
        <div id="img-caption">
          <span class="img-title text-dark"><%= @event.title %></span>
          <span class="description text-dark"><%= @event.hour %></span>
        </div>
      </div>
      <div id="post-actions">
        <% if !current_user.nil? && current_user.admin%>
          <%= link_to 'Editer', edit_event_path(@event) %>
          <span class="separator">·</span>
          <%= link_to 'Supprimer', event_path(@event), method: :delete, data: { confirm: 'Etes-vous sûr ?' } %>
          <span class="separator">·</span>
        <% end %>
        <%= link_to 'Accueil', root_path %>
        <span class="separator">·</span>
        <%= link_to 'Retour liste', events_path %>
      </div>
      <% if !current_user.nil? && !@event.users.ids.include?(current_user.id) && !current_user.admin %>
        <%= link_to "S'inscrire",  event_registrations_path(@event), method: :post, class: "btn btn-danger btn-block rounded mt-1" %>
      <% end %>
      <% if !current_user.nil? && !current_user.admin && @event.users.ids.include?(current_user.id) %>
        <%= link_to "Se désinscrire", event_registration_path(@event), method: :delete, class: "btn btn-light btn-block rounded mt-1 text-info" %>
      <% end %>
    </div>
    <div class="container bg-dark mt-2">
      <% if !current_user.nil? && current_user.admin %>
        <h2>Liste des inscrits </h2>
        <% @event.users.each do |user| %>
          <ul class="list-group list-group-flush">
          <li class="list-group-item bg-dark">Mail / Prénom / Nom / Pseudo</li>
          <li class="list-group-item bg-dark"><%= user.email %> / <%= user.first_name %> / <%= user.last_name %> / <%= user.pseudo %></li>
          </ul>
        <% end %>
      <% end %>
  </div>
  </div>
 </div>
